.main_container {
  width: 100vw;
  margin: 0px;
  padding: 2em;
  min-height: 100vh;
  background-color: ghostwhite;
}

.data_box {
  width: 90vw;
  border-radius: 10px;
  padding: 1em;
  background-color: white;
  overflow: auto;
  max-height: 500px;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 15vw;
}

.add_record_body {
  width: 100%;
  margin-top: 2em;
  border-radius: 10px;
  background-color: white;
  padding: 1em;
}

.input_row {
  display: flex;
  width: 100%;
  margin-top: 1em;
}
